<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN FORM</h1>
    <form id="loginform" action="/login" method="post">
    <label>User name:</label>
    <input type="text" id="Username" name="username" required>
    <br></br>
    <label>Password:</label>
    <input type="Password" id="Password" name="password" required>
    <br></br>
    <input type="submit" value="login">
    <input type="button" value="reset">
    <br></br>
    </form> 
</body>
</html>