<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
        <body>
        <form id="registrationForm" action="/register" method="post">
            <h2>Registration Form</h2>
            <label>Full name:</label>
            <input type="text" id="Fullname" name="fullname" required>
            <br></br>
            <label>User name: </label>
            <input type="text" id="Username" name="username" required >
            <br></br>
            <label>Password:</label>
            <input type="password" id="Password" name="password">
            <br><br>
            <input type="submit" value="register">
            <input type="reset" value="reset">
        </form>
        </body>

</html>